<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
    <div>
      <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
         <li><a href="/">Home</a></li>
         <li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>
         <li><a href="/contact">Contacts</a></li>
         </ul>
      </nav>
    </div>
  </div>
    <br/>
<div class="container">
<div class="row">
<div class="col-lg-8">
  <p>
    I am an aspiring DevOps engineer that wants to conquire the world. Now who doesn't?
  </p>
</div>
</div>
</div>
</body>
</html>
