<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> Ansible </title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contacts</a></li>
    </ul>
</nav>
</div>


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"> Ansible </h1>
        <hr>

        <!-- Author -->
        <p class="lead"> Ansible is a rather helpful tool for configuration management. It works over ssh, so you don't need to preinstall anything to the node itself. Very convenient. </p>



        <!-- Preview Image -->
        <img class="img-fluid rounded" src="ansible.png" style="width:700px;height:500px;"  alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead"> When used in conjunction with tools such as Vagrant it really unveils its full potential. You can use the "Infrastructure as Code" paradigm. Written once - always works. </p>

	<img class="img-fluid rounded" src="ansible1.png" style="width:700px;height:600px;" alt="">
        <hr>

        <p class="lead"> Ansible organizes it's playbooks into roles. Roles are later applied to an inventory. Inventory holds the servers that roles are applied to. </p>


	<hr>



</div>
</body>
</html>

