<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
    <div>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/contact">Contact<span class="sr-only">(current)</span></a></li>
         </ul>
    </nav>
    </div>
  </div>

  <div class="container">
<div class="row">
<div class="col-lg-8">
	<h2> Contact me at: </h2>
	<h3> m.e.morozov1@gmail.com </h3>
</div>
</div>
</div>



</body>
</html>
