<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Infrastructure monitoring</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contacts</a></li>
    </ul>
</nav>
</div>


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Infrastructure monitoring</h1>
        <h2><a href="http://grafana.morozovme.com/"> Login page</a></h2>


        <hr>



        <p class="lead"> In order to monitor health of the Infrastructure I setup grafana dashboards along with prometheus data source. </p>
        <img class="img-fluid rounded" src="prom_ds.png" style="width:1000px;height:470px;" alt="">
        <hr>
        <p class="lead"> Bare metal all servers statistics dashboard.</p>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="grafana.png" style="width:1000px;height:470px;" alt="">

        <hr>

        <!-- Post Content -->

        <p class="lead"> Per-node dashboard. </p>


        <img class="img-fluid rounded" src="graf2.png" style="width:1400px;height:900px;" alt="">

        <hr>



</div>
</body>
</html>
