<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home lab</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contacts</a></li>
    </ul>
</nav>
</div>


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Home lab</h1>


        <hr>

        <!-- Date/Time -->
        <p>Posted on January 1, 2019 at 12:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="home-lab.jpeg" style="width:470px;height:800px;" alt="">

        <hr>

        <!-- Post Content -->
	<p class="lead">I use three personal computers for my devops tryouts. </p>
	<p> 1) An old laptop with Core2Duo onboard is used as a 24/7 low power (45watt) server. It runs Docker engine with containers that host my apps with jenkins and grafana and other stuff. Ubuntu 16 is run in this machine as the most stable for these outdated platforms </p>

        <p> 2) Another PC ATX-formfactor, the one with drawing on the side, has amd6350 onboard and is used as a compute node. It has 24gb RAM and two GPUs in it, makes it great for virtualization and GPU passtrhough experiments. Centos 7 is installed with virtualization provided by VirtualBox (or sometimes KVM, I use either of those). Vagrant is used for starting up a multiple of tools like Kubernetes, hadoop cluster, ELK and others for studies. </p>

        <p> 3) For the third pc I cramed in mini-itx board with an integrated amde-2000 cpu and 5 harddrives, I use it as a samba server and a ftp server. </p>
        <hr>




        <p class="lead"> For infrastructure planning and management I use miro (ex-realtimeboard). This helps to have a concise map in my head, so its easier to come up with new ideas on what to add.  </p>

                <img class="img-fluid rounded" src="miro_infrastructure.png" style="width:1000px;height:470px;" alt="">

        <hr>



</div>
</body>
</html>

