<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Study projects</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contacts</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="container">
<div class="row">
<div class="col-lg-8">
<h2> Study projects </h2>

<hr>

<br>

<h3> Web-app Development </h3>
<div class="list-group">

  <a href="/nodejs-blogapp" class="list-group-item">
  <h4 class="list-group-item-heading"> Nodejs blog app </h4>
    <p class="list-group-item-text"> blog.cheapestdomainever.club</p>
  </a>

  <a href="python-flask" class="list-group-item">
  <h4 class="list-group-item-heading"> Python Flask blog </h4>
    <p class="list-group-item-text"> Blogging app written along with API </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Python Django App </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>


  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Python Flask-based microservices app </h4>
    <p class="list-group-item-text"> Development, infrastructure deployment and management project </p>
  </a>

  <a href="/sitik" class="list-group-item">
  <h4 class="list-group-item-heading">Front-end playground</h4>
    <p class="list-group-item-text"> sitik.cheapestdomainever.club </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> MEAN stack </h4>
    <p class="list-group-item-text"> Mongodb Expressjs Angular Nodejs </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> MERN stack </h4>
    <p class="list-group-item-text"> Reactjs app </p>
  </a>


  <a href="/koareact" class="list-group-item">
  <h4 class="list-group-item-heading"> KRPN stack </h4>
    <p class="list-group-item-text"> Koajs Reactjs Postgres Nodejs to-do app </p>
  </a>


    <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> VueJS </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>

  <a href="/jquery" class="list-group-item">
  <h4 class="list-group-item-heading"> JQuery </h4>
    <p class="list-group-item-text"> Landing page project for a friend usind JQuery, php and postfix. </p>
  </a>

</div>

<br>

<h3> Continuous Integration / Deployment</h3>
<div class="list-group">
  <a href="/jenkins" class="list-group-item">
  <h4 class="list-group-item-heading">Jenkins</h4>
    <p class="list-group-item-text"> jenkins.cheapestdomainever.club </p>
  </a>


  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading">Teamcity</h4>
    <p class="list-group-item-text"> Not implemented yet </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading">GitlabCI</h4>
    <p class="list-group-item-text"> Not implemented yet</p>
  </a>

    <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading">Bamboo</h4>
    <p class="list-group-item-text"> Not implemented yet </p>
  </a>

  <a href="#" class="list-group-item disabled">
<h4 class="list-group-item-heading">TravisCI</h4>
  <p class="list-group-item-text"> Not implemented yet </p>
</a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> CircleCI </h4>
    <p class="list-group-item-text"> Not implemented yet </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> GoCD </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>

</div>

<br>


<h3> Build tools </h3>
<div class="list-group">
  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading">make</h4>
    <p class="list-group-item-text"> Makefiles c/c++ gcc build-utils etc</p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading">Cmake</h4>
    <p class="list-group-item-text"> crossplatform make</p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading">Packaging </h4>
    <p class="list-group-item-text"> Deb, rpm, pip, npm</p>
  </a>

    <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading">ant, maven, gradle</h4>
    <p class="list-group-item-text"> Java build systems</p>
  </a>

    <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Gulp, webpack, babel, uglifier, grunt </h4>
    <p class="list-group-item-text"> JavaScript build tools</p>
  </a>
</div>


<h3> Qa Automation </h3>
<div class="list-group">
  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading">Python</h4>
    <p class="list-group-item-text"> Pytest, unittest, allure, fixtures, REST api testing </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading">JavaScript</h4>
    <p class="list-group-item-text"> Mocha, Cucumber </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Selenium </h4>
    <p class="list-group-item-text"> A bit of Java + webdriver  </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Performance testing </h4>
    <p class="list-group-item-text"> Loadrunner, Locust, JMeter  </p>
  </a>


</div>


<br>


<h3> Monitoring </h3>
<div class="list-group">
  <a href="/grafana" class="list-group-item">
  <h4 class="list-group-item-heading">Grafana</h4>
    <p class="list-group-item-text"> grafana.cheapestdomainever.club </p>
  </a>

  <a href="#" class="list-group-item disabled">
    <h4 class="list-group-item-heading"> Zabbix </h4>
      <p class="list-group-item-text"> LAMP-based monitoring tools </p>
  </a>
</div>

<br>

<h3> Infrastructure </h3>
<div class="list-group">
  <a href="/home-lab" class="list-group-item">
  <h4 class="list-group-item-heading">Bare-metal home lab</h4>
    <p class="list-group-item-text">Infrastructure description</p>
  </a>

  <a href="ftp://cheapestdomainever.club" class="list-group-item">
  <h4 class="list-group-item-heading">File server</h4>
    <p class="list-group-item-text"> ftp://cheapestdomainever.club </p>
  </a>

  <a href="/rvproxy" class="list-group-item">
  <h4 class="list-group-item-heading"> Nginx Reverse proxy </h4>
    <p class="list-group-item-text"> Runs on cheapestdomainever.club:80 </p>
  </a>


  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> ELK </h4>
    <p class="list-group-item-text"> elasticsearch logstash kibana project </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Ansible </h4>
    <p class="list-group-item-text"> Configuration management </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> RabbitMQ </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Celery </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>

</div>

<br>

<h3> Big Data </h3>
<div class="list-group">
    <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Hadoop  </h4>
    <p class="list-group-item-text"> HDFS YARN MapReduce. Big data study projects </p>
  </a>
</div>

<br>

<h3> Cloud technologies and virtualization </h3>
<div class="list-group">
  <a href="/#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> IaC </h4>
    <p class="list-group-item-text"> Cloud infrastructure </p>
  </a>


  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Kubernetes </h4>
    <p class="list-group-item-text"> DaemonSets, ReplicaSets, StatelessSets, Deployments, Ingress...  </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> OpenShift </h4>
    <p class="list-group-item-text"> Not Implemented yet  </p>
  </a>



  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> OpenStack </h4>
    <p class="list-group-item-text"> Not Implemented yet  </p>
  </a>


  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Docker </h4>
    <p class="list-group-item-text"> DockerHub, builds, images registry, networking </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Virtual Machines </h4>
    <p class="list-group-item-text"> KVM+Libvirt, Virtualbox </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Vagrant </h4>
    <p class="list-group-item-text"> Vagrantfiles, provisioning with ansible </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Packer </h4>
    <p class="list-group-item-text"> Not implemented yet </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Vault </h4>
    <p class="list-group-item-text"> Not implemented yet </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Consul </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>


</div>

<h3> Databases administration </h3>
<div class="list-group">
  <a href="/#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> SQLite </h4>
    <p class="list-group-item-text"> Not implemented yet </p>
  </a>

  <a href="/postgres" class="list-group-item">
  <h4 class="list-group-item-heading"> Postgresql  </h4>
    <p class="list-group-item-text"> Sharding, replication, containerization </p>
  </a>

    <a href="/#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> mariadb/mysql  </h4>
    <p class="list-group-item-text"> Not implemented yet </p>
  </a>

    <a href="/#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Redis </h4>
    <p class="list-group-item-text"> Not implemented yet </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Cassandra </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Giraph </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>


  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Riak </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Mongodb </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> InfluxDB </h4>
    <p class="list-group-item-text"> Not implemented </p>
  </a>

</div>


</div></div>
</div>
</div>
</body>
</html>
