<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contacts</a></li>
    </ul>
</nav>
</div>


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Post Title</h1>

        <!-- Author -->

        <h2><a href="http://jenkins.cheapestdomainever.club/">Login page</a></h2>


        <hr>


        <!-- Preview Image -->
        <img class="img-fluid rounded" src="jenkins-items.png" style="width:1400px;height:500px;" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">I use Jenkins for redeploying apps after changes had been pushed to the respective repositories. I have manually created tasks for each project.</p>

        <hr>


        <p class="lead">At the moment I am reading about groovy and Jenkinsfile in order to automate the CI/CD component. </p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="jenkins_deploy_nodejs_blogapp.png" style="width:1000px;height:210px;" alt="">

        <hr>

        <p class="lead"> Yet so far I was using bash to deploy apps.</p>
        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="jenkins-pipeline.png" style="width:1000px;height:300px;" alt="">

        <hr>

        <p class="lead">I have installed nodejs plugin so that app could be testend inside of jenkins and later deployed.</p>


        <hr>



</div>
</body>
</html>
