<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> Python Linked List </title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contacts</a></li>
    </ul>
</nav>
</div>


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Python Linked List</h1>


        <p class="lead">  <a href="https://github.com/mikefrostov/task_python2/tree/master/mylist"> Repository </a>  </p>

        <hr>

        <p class="lead"> This is a job interview task. The task is to implement a linked list using only python core functions and primitives. Also unit tests should be implemented for this linked list. </p>

	<p class="lead"> List has an init method, append method, constructor, print function. It has magic 'add' method. List consists of nodes, each node holds a value and a pointer. </p>
        <img class="img-fluid rounded" src="pythonlinkedlist.png" alt="">

        
	<hr>
        
	<p class="lead"> I have implemented an iterator too, so the list may be iterated just as any iterable written in python. </p>

	<img class="img-fluid rounded" src="pythonlistiterable.png" alt="">

	<hr>
        
        <p class="lead"> Iteration is possible thanks to magic dunder methods, that python uses, whenever you try to iterate your class. This is what's called 'pythonic' way of doing things.  </p>

	<img class="img-fluid rounded" src="pythonlistiterate.png" alt="">

	<hr>

        <p class="lead"> Unit tests help to have the class that is consistent with the base functionality that is required. When implementing the tests, it helps to conceptually visualize the working of the class under test. </p>

	<img class="img-fluid rounded" src="listtestsrun.png" alt="">

        <hr>
        
	<p class="lead"> Context manager takes the stdout that MyList class outputs after operation and checks that is what it's supposed to be. This way we that it works properly (or not).  </p>
	<img class="img-fluid rounded" src="listunittests.png" alt="">


</div>
<hr>
</body>
</html>

